@font-face {
  src: url("../fonts/MarkGEO-Bold.ttf");
  font-family: "Mark GEO Bold";
}

@font-face {
  src: url("../fonts/MarkGEO-Light.ttf");
  font-family: "Mark GEO Light";
}

@font-face {
  src: url("../fonts/MarkGEO-Medium.ttf");
  font-family: "Mark GEO Medium";
}

@font-face {
  src: url("../fonts/MarkGEO-Regular.ttf");
  font-family: "Mark GEO Regular";
}

@font-face {
  src: url("../fonts/MarkGEOCAPS-Medium.ttf");
  font-family: "Mark GEO Caps";
}
